.example-container {
    height: 100%;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .mat-list-item{
    padding: 0 30px 0 30px!important;
}

.mat-list-item:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}

.mat-list-item active{
    background-color: aqua!important;
}
